/**
 * Created by Rayr Lee on 2015/6/19.
 */

body {
    font-family: Helvetica, Arial, "Microsoft Yahei";
}

.l-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-brand {
    font-size: 14px;
}

.page-header {
    margin-top: 20px;
}

.navbar-right {
    margin-right: 0px !important;
}

.banner-focus img{
    width: 100%;
}
.banner-focus .banner-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0px;
    top: 50%;
    margin-top: -22px;
    transition: all 0.2s;
    opacity: 0.1;

    background: url("../../../../vimeo/images/left.png") no-repeat;
}
.banner-focus .pre-btn {
    left: inherit;
    right: 0px;
    transform-origin:50% 50%;
    transform: rotate(180deg);
}
.banner-focus .well {

}
.banner-focus .well:hover .banner-btn{
    opacity: 1;
}
.banner-btngroup {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}
.banner-btngroup .item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 0 4px #333;
    border: 2px solid #333;
    cursor: pointer;
    overflow: hidden;
}
.banner-btngroup .item-active {
    background: #ddd;
}
/*�ֲ�ͼ*/
.banner-images {
    position: relative;
    overflow: hidden;
}
.banner-images .inner {
    position: relative;
    width: 50000px;
    margin-bottom: 0;
}
.banner-images .item {
    float: left;
    width: 1128px;
}

.search-btn-group {
    width: 250px;
    float: right !important;
}
.search-btn-group .input-group input{
    height: 36px;
}
.video-list .well, .banner-focus .well {
    position: relative;
    padding: 5px;
}

.foot-re-top {
    margin-right: 4px;
}